@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Chakra Petch", serif;
    font-weight: 700;
    font-style: italic;
}

.header {
    background-color: black;
    color: #66B933;
    text-align: center;
    padding: 25px;
    margin: 0px;
}
.header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 55px;
}

.product-1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.product-1-container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;

}

.product-1-container h2 {
    text-align: center;
    color:#66B933;
}

.product-1-image-container {
    text-align: center;
}

.product-1-image {
    height: 250px;
    width: 350px;
    border-radius: 15px;
}

.product-1-text-container {
    color: #66B933;
    margin-right: auto;
    margin-left: auto;
}

.product-2 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #F9B3D1;
    padding: 50px;
}

.product-2-container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    color: black;
}

.product-2-container h2 {
    text-align: center;
}

.product-2-image-container {
    text-align: center;
}

.product-2-image {
    height: 350px;
    width: 350px;
    border-radius: 15px;
}

.product-2-text-container {
    color: black;
    margin-right: auto;
    margin-left: auto;
}

.product-3 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    padding: 50px;
}

.product-3-container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    color: #66B933;
}

.product-3-container h2 {
    text-align: center;
}

.product-3-image-container {
    text-align: center;
}

.product-3-image {
    height: 350px;
    width: 350px;
    border-radius: 15px;
}

.product-3-text-container {
    color: #66B933;
    margin-right: auto;
    margin-left: auto;
}

.button-container {
    width: 100%;
    text-align: center;
    padding: 25px;
}

.button {
    background-color: #66B933;
    border: none;
    color: black;
    padding: 15px 60px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}